@model EIGO.PDLA.WebAPP.Areas.Administracion.DTO.ReportesDTO

@{
    ViewData["Title"] = "Reporte";
}

<h1> @Model.NombreReporte</h1>

<h4>Reportes</h4>
<hr />
  <iframe title="reporteFinal-BD-API - Archivo Plano" src="@Model.Ruta" frameborder="0" allowFullScreen="true"></iframe>


