$fondoBlanco1: #FFFFFF;
$fondoBlanco2: #F9F9F9;
$fondoBlanco3: #F5F5F5;
$fondoBlanco4: #EFEFEF;
$fondoAzul1: #E4EFF5;
$fondoNaranja: #E4EFF5;
$fondoRosado: #D9534F;
$fondoAzulClaro: #015382;
$fondoAzulOscuro: #003A5B;
$fondoGrisOscuro: #c6c9d2 ;
$fondoGrisClaro: #f2f2f2;

$textoblanco: #FFFFFF;
$textoGris1: #CCCCCC;
$textoVende: #16A05A;
$textoAzul: #168CDE; 
$textoGris2: #808080;
$textoGris3: #777777;
$textoAzul2: #337AB7;
$textoRojo: #D12A2A;
$textoGris4: #666666;
$textoGris5: #606060;
$textoGris6: #555555;
$textoAzulClaro: #015382;
$textoAzulOscuro: #003A5B;
$textoGris7: #333333;
$textoNegro: #000000;

$rellenoVerde: #48A334;
$rellenoAzul: #094A82;
$rellenoNegro: #000000;


$bordeGris1: #EEEEEE;
$bordeGris2: #DDDDDD;
$bordeGris3: #CCCCCC;
$bordeGris4: #C9C9C9;
$bordeNaranja: #F28D00;
$bordeVerde: #16A05A;
$bordeAzulClaro: #168CDE;
$bordeRojo: #D12A2A;
$bordeAzulOscuro: #015382;
$bordeGrisOscuro: #333333;

